* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.menu {
  width: 1600px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
.menu .link a {
  margin: 30px;
  margin-bottom: 50px;
  text-decoration: none;
}
.menu .link .correo {
  color: blue;
}
.soluciones {
  width: 1600px;
  height: 600px;
  top: 80px;
  left: -4px;
  background-image: url();
  text-align: center;
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  margin: 5px;
}

.eficaces {
  position: absolute;
  width: 696px;
  height: 120px;
  top: 280px;
  left: 448px;
  font-family: roboto;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
}
.servicio {
  background-color: blue;
  color: #ffffff;
  width: hug(197px);
  height: hug(30px);
  top: 10px;
  left: 32px;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  align-items: center;
}
.card-servicios {
  padding: 30px;
  width: 1600px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.atencion-a-los-detalles {
  width: 270px;
  height: 16px;
  top: 775px;
  left: 215px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #212121;
  margin-right: 45px;
}
.todos-los-detalles {
  width: 270px;
  height: 75px;
  top: 801px;
  left: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}
.puntualidad {
  width: 270px;
  height: 16px;
  top: 775px;
  left: 515px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 3%;
  color: #757575;
}
.seguro-y-protegido {
  width: 270px;
  height: 96px;
  top: 901px;
  left: 615px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.planificacion {
  width: 270px;
  height: 16px;
  top: 775px;
  left: 515px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 3%;
  color: #757575;
  margin-left: 23px;
}
.observar-y-participar {
  width: 270px;
  height: 75px;
  top: 801px;
  left: 815px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-left: 23px;
}
.tecnologia-modera {
  width: 270px;
  height: 16px;
  top: 775px;
  left: 111px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 3%;
  color: #212121;
  margin-right: 90px;
}
.herramientas-innovadoras {
  width: 270px;
  height: 75px;
  top: 801px;
  left: 1115px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.dedicamos {
  width: 1600px;
  text-align: center;
}
.a-que-nos-dedicamos {
  width: 371.15px;
  height: 46.24px;
  top: 991px;
  left: 619.43px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 3%;
  color: #212121;
}
.oficina {
  display: flex;
  justify-content: center;
  width: 1600px;
  height: auto;
  padding: 10px;
  margin: 4px;
}
.computador {
  width: 371.16px;
  height: 327.7px;
  top: 1092.3px;
  left: 215px;
}
.movil {
  width: 373.16px;
  height: 323.7px;
  top: 1092.3px;
  left: 618.42px;
}
.diseño {
  width: 371.16px;
  height: 327.7px;
  top: 1092.3px;
  left: 215px;
}
.equipo {
  width: 1600px;
  text-align: center;
}
.nuestro-equipo {
  width: 263px;
  height: 42px;
  top: 1064px;
  left: 669px;
  font-family: roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 42.19px;
  letter-spacing: 3%;
}
.cards-container {
  width: 1600px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 1px 5px;
}
.andres-img {
  width: 270px;
  height: 260px;
  top: 1696px;
  left: 208px;
}
.card-andres {
  width: 270px;
  height: 368px;
  top: 1696px;
  left: 208px;
  color: #ffffff;
  margin: 10px;
}
.andres-cubos {
  width: 97px;
  height: 19px;
  top: 1986px;
  left: 295px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  align-items: center;
  color: #212121;
  margin-left: 80px;
}
.footer-a {
  width: 181px;
  height: 19px;
  top: 2015px;
  left: 253px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  text-align: center;
  color: #757575;
  margin-left: 40px;
}
.carla-img {
  width: 270px;
  height: 260px;
  top: 1696px;
  left: 515px;
}
.card-carla {
  width: 270px;
  height: 368px;
  top: 1696px;
  left: 515px;
  color: #ffffff;
  margin: 10px;
}
.carla-palacios {
  width: 109px;
  height: 19px;
  top: 1986px;
  left: 596px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  align-items: center;
  color: #212121;
  margin-left: 80px;
}
.footer-c {
  width: 163px;
  height: 19px;
  top: 2015px;
  left: 559px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  text-align: center;
  color: #757575;
  margin-left: 52px;
}
.mario-img {
  width: 270px;
  height: 260px;
  top: 1696px;
  left: 822px;
}
.card-mario {
  width: 270px;
  height: 368px;
  top: 1696px;
  left: 822px;
  color: #ffffff;
  margin-top: 10px;
}
.mario-dorado {
  width: 103px;
  height: 19px;
  top: 1986px;
  left: 906px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  align-items: center;
  color: #212121;
  margin-left: 80px;
}
.footer-m {
  width: 76px;
  height: 19px;
  top: 2015px;
  left: 919px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  text-align: center;
  color: #757575;
  margin-left: 95px;
}
.pablo-img {
  width: 270px;
  height: 260px;
  top: 1696px;
  left: 1115px;
}
.card-pablo {
  width: 270px;
  height: 368px;
  top: 1696px;
  left: 1115px;
  color: #ffffff;
  margin: 10px;
}
.pablo-mijandros {
  width: 118px;
  height: 19px;
  top: 1986px;
  left: 1195px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  align-items: center;
  color: #212121;
  margin-left: 80px;
}
.footer-p {
  width: 97px;
  height: 19px;
  top: 2015px;
  left: 1202px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  text-align: center;
  color: #757575;
  margin-left: 90px;
}
.final {
  display: flex;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  top: 2158px;
}
.redes{
  color: white;
  margin-left: 100px;
  margin-top: 80px;
}
